<section id="exercises" class="exercises">
      <div class="container">
        <div class="section-title">
          
          <h1>Ball Exercises</h1>
   
         </div>
        <div class="exercise-name">{{exercise_name}}</div>
        <div class="row">
          <p>Start Image</p>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box">
          <img src="/images/exercises/ball/{{exercise_name}}/{{img_start}}">
          </div>
          </div>
          <p>End Image</p>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
            <img src="/images/exercises/ball/{{exercise_name}}/{{img_end}}">
            </div>
          </div>      
        </div>
      </div>
    </section>
    <section>
             <button type="button" class="btn btn-info" id="addtoList">Add to My List</button>
    </section>



