<section id="exercises" class="exercises">
      <div class="container">
        <div class="section-title">       
   <h3 class="exercise-name">{{exercise_name}}</h3>
         </div>
        
        <div class="row">
        <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up">
          <div>
          <img src="/images/exercises/ball/{{exercise_path}}/{{img_start}}">
           <h5 class="card-title">Start Image</h5>
          </div>
         </div>
         {{!-- hi --}}
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="150">
            <div>
            <img src="/images/exercises/ball/{{exercise_path}}/{{img_end}}">
            <h5 class="card-title">End Image</h5>
            </div>
          </div>      
        </div>
      </div>
    </section>
    <section>
    
             <button type="button" class="btn btn-info add-exercise" id="{{id}}">Add to My List</button>
    </section>

   



